<?xml version="1.0" encoding="utf-8" ?>
<configuration debug="true">

    <appender name="qiniu" class="com.qiniu.appender.LogbackQiniuAppender">
        <pipelineHost>https://pipeline.qiniu.com</pipelineHost>
        <logdbHost>https://logdb.qiniu.com</logdbHost>
        <workflowName>logdemo1</workflowName>
        <workflowRegion>nb</workflowRegion>
        <pipelineRepo>pipe1</pipelineRepo>
        <logdbRepo>logdb1</logdbRepo>
        <logdbRetention>30d</logdbRetention>
        <autoFlushInterval>10</autoFlushInterval>
        <accessKey>ak</accessKey>
        <secretKey>sk</secretKey>
        <logCacheDir>/tmp</logCacheDir>
        <logRotateInterval>60</logRotateInterval>
        <logRetryInterval>60</logRetryInterval>
    </appender>

    <root level="INFO">
        <appender-ref ref="qiniu"/>
    </root>
</configuration>