<?xml version="1.0" encoding="utf-8" ?>
<configuration debug="true">

    <appender name="qiniu" class="com.qiniu.appender.LogbackQiniuAppender">
        <pipelineHost>https://pipeline.qiniuapi.com</pipelineHost>
        <logdbHost>https://logdb.qiniuapi.com</logdbHost>
        <workflowName>logdemo1</workflowName>
        <workflowRegion>nb</workflowRegion>
        <pipelineRepo>pipe1</pipelineRepo>
        <logdbRepo>logdb1</logdbRepo>
        <logdbRetention>30d</logdbRetention>
        <autoFlushInterval>10</autoFlushInterval>
        <accessKey>ak</accessKey>
        <secretKey>sk</secretKey>
        <logCacheDir>/tmp/logging</logCacheDir>
        <logRotateInterval>60</logRotateInterval>
        <logRetryInterval>60</logRetryInterval>
        <logPushThreadPoolSize>20</logPushThreadPoolSize>
        <logPushConnectTimeout>10</logPushConnectTimeout>
        <logPushReadTimeout>30</logPushReadTimeout>
        <logPushWriteTimeout>60</logPushWriteTimeout>
        <logRetryThreadPoolSize>10</logRetryThreadPoolSize>
        <logRetryConnectTimeout>10</logRetryConnectTimeout>
        <logRetryReadTimeout>30</logRetryReadTimeout>
        <logRetryWriteTimeout>60</logRetryWriteTimeout>
    </appender>

    <root level="INFO">
        <appender-ref ref="qiniu"/>
    </root>
</configuration>